@page
    @using CoffeeClasses.Operations;
    @model IndexModel
        @{
            ViewData["Title"] = "Home page";
        }

        <div class="card" style=" margin-top: 20px">
            <div class="card-header">

                <h3>How to make Barista Coffee</h3>

            </div>
            <div class="card-body">
               

                <form method="post">
                    <div class="form-group">
                       

                        <div class="row">


                           <h3>Choose a Coffee to Make</h3>
                            <select asp-for="SelectedCoffee" class="col-lg-2" asp-items="Html.GetEnumSelectList<EnumCoffeeType>()">
                            </select>

                            <p></p>


                            <input type="submit" value="Submit" asp-action="Index" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
               

                <div class="row">
                    @if (Model.HasData == true)
                    {
                        <h3>@Model.Coffee.CoffeeName </h3> 
                        <h4>@Model.Coffee.InstructionTitle</h4>
                        <p>  Shots of Coffee    @Model.Coffee.Shots </p>
                        <p>  Does it have milk?    @Model.Coffee.HasMilk Does it have water?    @Model.Coffee.HasWater </p>
                        <p>  Cup Type    @Model.Coffee.CupType </p>

                        <p>@Model.Coffee.Instructions</p>


                        @if (Model.Coffee.ListOfExtras.Count >0)
                        {

                      

                    <p><b>Extra Ingredients</b></p>
                        <ul>
                            @foreach (var item in Model.Coffee.ListOfExtras)
                            {
                                <li> @item   </li>
                            }
                        </ul>
                        }
                    }

                </div>
            </div>
        </div>
